@model GESTION_COLEGIAL.Business.Models.AlumnoViewModel
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-wrapper-content ">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/Alumnos/Index">Alumnos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Alumno</li>
        </ol>
    </nav>
</div>

<div class="fluid-container">
    @using (Html.BeginForm("Save", "Alumnos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    <h3>Información personal</h3>
                </div>

                <div class="card-body"  >
                    @Html.HiddenFor(model => model.AlumnoId)
                    @Html.HiddenFor(model => model.PersonaId)

                    <div class="form-row">
                        @* Columna Identidad *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroIdentidad, "Identidad", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.NumeroIdentidad, new { htmlAttributes = new { type = "number", @class = "form-control", @minlength = "13" } })
                                @Html.ValidationMessageFor(model => model.NumeroIdentidad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Primer Nombre *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PrimerNombre, "Primer Nombre", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Segundo Nombre *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SegundoNombre, "Segundo Nombre", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Apellido Paterno *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApellidoPaterno, "Apellido Paterno", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Apellido Materno *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApellidoMaterno, "Apellido Materno", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Fecha Nacimiento *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaNacimiento, "Fecha Nacimiento", htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Correo Electronico *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CorreoElectronico, "Correo Electronico", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Teléfono *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Telefono, "Teléfono", htmlAttributes: new { type = "number", @class = "control-label", @minlength = "8" })
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Dirección *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Direccion, "Dirección", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Sexo *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sexo, "Sexo", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="btn mr-2 btn-primary-outline">
                            @Html.ActionLink("Cancelar", "Index", "Alumnos")
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="card">
                <div class="card-header">
                    <h3>Información del Curso</h3>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        @* Columna Nivel Educativo *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NivelId, "Nivel educativo", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("NivelId", Model.NivelesEducativosList, "-- Seleccionar Nivel Educativo --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NivelId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Curso niveles *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CursoNivelId, "Curso niveles", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("CursoNivelId", ViewBag.Niveles as List<SelectListItem>, "-- Seleccionar Curso --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.CursoNivelId,
                                ViewBag.Niveles as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Curso --",
                                new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.CursoNivelId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Modalidades *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ModalidadId, "Modalidad", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("ModalidadId", ViewBag.Modalidades as List<SelectListItem>, "-- Seleccionar Modalidad --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.ModalidadId,
                                ViewBag.Modalidades as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Modalidad --",
                                new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ModalidadId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Cursos *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CursoId, "Cursos", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("CursoId", ViewBag.Cursos as List<SelectListItem>, "-- Seleccionar Curso --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.CursoId,
                                ViewBag.Cursos as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Cursos --",
                                new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CursoId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Secciones *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SeccionId, "Curso secciones", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("SeccionId", ViewBag.Secciones as List<SelectListItem>, "-- Seleccionar seccion --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.SeccionId,
                                ViewBag.Secciones as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Curso secciones --",
                                new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SeccionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Estado *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EstadoId, "Estado", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("EstadoId", Model.EstadosList, "-- Seleccionar Estado --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstadoId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    }
</div>

@section Scripts{
    <script src="~/Content/js/pages/alumnos.js"></script>
}
