@model GESTION_COLEGIAL.Business.Models.AlumnoViewModel
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-wrapper-content ">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/Alumnos/Index">Alumnos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Alumno</li>
        </ol>
    </nav>
</div>

<div class="fluid-container">
    @using (Html.BeginForm("Save", "Alumnos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    <h3>Información personal</h3>
                </div>

                <div class="card-body"  >
                    @Html.HiddenFor(model => model.Alu_Id)
                    @Html.HiddenFor(model => model.Per_Id)

                    <div class="form-row">
                        @* Columna Identidad *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_Identidad, "Identidad", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_Identidad, new { htmlAttributes = new { type = "number", @class = "form-control", @minlength = "13" } })
                                @Html.ValidationMessageFor(model => model.Per_Identidad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Primer Nombre *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_PrimerNombre, "Primer Nombre", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_PrimerNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Segundo Nombre *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_SegundoNombre, "Segundo Nombre", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_SegundoNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Apellido Paterno *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_ApellidoPaterno, "Apellido Paterno", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_ApellidoPaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Apellido Materno *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_ApellidoMaterno, "Apellido Materno", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_ApellidoMaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Fecha Nacimiento *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_FechaNacimiento, "Fecha Nacimiento", htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Per_FechaNacimiento, new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(model => model.Per_FechaNacimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Correo Electronico *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_CorreoElectronico, "Correo Electronico", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_CorreoElectronico, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Teléfono *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_Telefono, "Teléfono", htmlAttributes: new { type = "number", @class = "control-label", @minlength = "8" })
                                @Html.EditorFor(model => model.Per_Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Dirección *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_Direccion, "Dirección", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Sexo *@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Per_Sexo, "Sexo", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Per_Sexo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Per_Sexo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="btn mr-2 btn-primary-outline">
                            @Html.ActionLink("Cancelar", "Index", "Alumnos")
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="card">
                <div class="card-header">
                    <h3>Información del Curso</h3>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        @* Columna Nivel Educativo *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Niv_Id, "Nivel educativo", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("Niv_Id", Model.NivelesEducativosList, "-- Seleccionar Nivel Educativo --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Niv_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Curso niveles *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Cun_Id, "Curso niveles", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("Cun_Id", ViewBag.Niveles as List<SelectListItem>, "-- Seleccionar Curso --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.Cun_Id,
                                ViewBag.Niveles as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Curso --",
                                new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Cun_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Modalidades *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mda_Id, "Modalidad", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("Mda_Id", ViewBag.Modalidades as List<SelectListItem>, "-- Seleccionar Modalidad --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.Mda_Id,
                                ViewBag.Modalidades as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Modalidad --",
                                new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Mda_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Cursos *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Cur_Id, "Cursos", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("Cur_Id", ViewBag.Cursos as List<SelectListItem>, "-- Seleccionar Curso --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.Cur_Id,
                                ViewBag.Cursos as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Cursos --",
                                new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Cur_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        @* Columna Secciones *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sec_Id, "Curso secciones", htmlAttributes: new { @class = "control-label" })
                                @*@Html.DropDownList("Sec_Id", ViewBag.Secciones as List<SelectListItem>, "-- Seleccionar seccion --", htmlAttributes: new { @class = "form-control" })*@
                                @Html.DropDownListFor(model => model.Sec_Id,
                                ViewBag.Secciones as List<SelectListItem> ?? new List<SelectListItem>(),
                                "-- Seleccionar Curso secciones --",
                                new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Sec_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* Columna Estado *@
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Est_Id, "Estado", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("Est_Id", Model.EstadosList, "-- Seleccionar Estado --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Est_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    }
</div>

@section Scripts{
    <script src="~/Content/js/pages/alumnos.js"></script>
}