
@model GESTION_COLEGIAL.UI.Models.AlumnoViewModel
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Save", "Alumnos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Alumnos</h3>
            </div>

    <div class="card-body">
                @Html.HiddenFor(model => model.Alu_Id)
                <div class="form-row">
                    @* Columna Persona *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_Id, "Persona", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Per_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Per_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Curso *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cur_Id, "Curso", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Cur_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Cur_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Estado *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Est_Id, "Estado", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Est_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Est_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Identidad *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_Identidad, "Identidad", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_Identidad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_Identidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Primer Nombre *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_PrimerNombre, "Primer Nombre", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_PrimerNombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Segundo Nombre *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_SegundoNombre, "Segundo Nombre", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_SegundoNombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Apellido Paterno *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_ApellidoPaterno, "Apellido Paterno", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_ApellidoPaterno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Apellido Materno *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_ApellidoMaterno, "Apellido Materno", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_ApellidoMaterno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Fecha Nacimiento *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_FechaNacimiento, "Fecha Nacimiento", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_FechaNacimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Correo Electronico *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_CorreoElectronico, "Correo Electronico", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_CorreoElectronico, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Teléfono *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_Telefono, "Teléfono", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Dirección *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_Direccion, "Dirección", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Sexo *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_Sexo, "Sexo", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_Sexo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_Sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Es Activo *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Per_EsActivo, "Es Activo", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Per_EsActivo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Per_EsActivo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
            </div>
        </div>
    </div>
}
