@model GESTION_COLEGIAL.Business.Models.HorarioAlumnoViewModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "HorarioAlumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="fluid-container">

    <div class="card">
        <div class="card-header">
            <h3>Registro de HorarioAlumnos</h3>
        </div>
        <div class="table-responsive">
            @Html.HiddenFor(model => model.HorarioAlumnoId)
            <div class="form-row">
                @* Columna Curso *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CursoId, "Curso", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("CursoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CursoId, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Curso nivel *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CursoNivelId, "Curso nivel", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("CursoNivelId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CursoNivelId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                @* Columna Materia *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MateriaId, "Materia", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("MateriaId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MateriaId, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Hora inicio *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HoraInicioHorarioAlumno, "inicio", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HoraInicioHorarioAlumno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoraInicioHorarioAlumno, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                @* Columna Hora finaliza *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HoraFinHorarioAlumno, "finaliza", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HoraFinHorarioAlumno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoraFinHorarioAlumno, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Día *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DiaId, "Día", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("DiaId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiaId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="btn mr-2 btn-secondary">
                    @Html.ActionLink("Cancelar", "Index", "HorarioAlumnos")
                </div>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

}
