@model GESTION_COLEGIAL.Business.Models.HorarioAlumnoViewModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "HorarioAlumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="fluid-container">

    <div class="card">
        <div class="card-header">
            <h3>Registro de HorarioAlumnos</h3>
        </div>
        <div class="table-responsive">
            @Html.HiddenFor(model => model.HoAl_Id)
            <div class="form-row">
                @* Columna Curso *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cur_Id, "Curso", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("Cur_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cur_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Curso nivel *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cun_Id, "Curso nivel", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("Cun_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cun_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                @* Columna Materia *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mat_Id, "Materia", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("Mat_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mat_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Hora inicio *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HoAl_HoraInicio, "inicio", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HoAl_HoraInicio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoAl_HoraInicio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                @* Columna Hora finaliza *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HoAl_HoraFinaliza, "finaliza", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HoAl_HoraFinaliza, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoAl_HoraFinaliza, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Día *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dia_Id, "Día", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("Dia_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dia_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="btn mr-2 btn-secondary">
                    @Html.ActionLink("Cancelar", "Index", "HorarioAlumnos")
                </div>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

}