@model GESTION_COLEGIAL.UI.Models.CargoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Listado *@
<div class="card">
    <div class="card-header" style="background-color:white;">
        <div class="row space-between">
            <div class="col-md-9"><h3>Listado de cargos</h3></div>
            <div class="col-md-3"><button class="btn btn-primary mdi mdi-plus-circle-outline float-right" id="add-btn" data-toggle="modal" data-target="#edit-modal">  Nuevo</button></div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered dt-responsive nowrap" id="datatable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


    <!-- Modal -->
    <div class="modal" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @*@using (Html.BeginForm("Create", "Modalidades", FormMethod.Post, new { enctype = "multipart/form-data" ,
                            data_ajax_begin = "Catalogs.begin",
                          data_ajax_success = "Catalogs.success",
                          data_ajax_failure = "Catalogs.failure",
                          data_ajax_complete = "Catalogs.complete"
                    }))
                    {*@
                @using (Ajax.BeginForm("Create", "Cargos", new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnBegin = "Catalogs.begin",
                    OnComplete = "Catalogs.complete",
                    OnFailure = "Catalogs.failure",
                    OnSuccess = "Catalogs.success"
                    //UpdateTargetId = "PostList",
                    //InsertionMode = InsertionMode.Replace
                }))
                {
                    <div class="container">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(model => model.Car_Id, new { @id = "item-id" })
                        @*<input name="Mda_Id" id="item-id" type="hidden">*@
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Car_Descripcion, "Descripción", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Car_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Car_Descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i>Guardar</button>
                        </div>
                    </div>}
                @*</form>*@
            </div>
        </div>
    </div>
    <!-- Fin Modal -->
    <!-- Modal Delete-->
    <div class="modal" id="delete-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" hidden>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>
                    </h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" id="idDelete">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="accept-delete-btn" class="btn btn-danger"><i class="mdi mdi-delete"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal -->


    @section Scripts{
        <script src="~/Content/js/pages/cargos.js"></script>
        <script>
        Cargos.datatable({listUrl: "@Url.Action("List")" });
        </script>
        <script>
        Catalogs.configure({
            displayName: "cargos",
            getUrl: "@Url.Action("Find")",
            getUrlDelete: "@Url.Action("Delete")"
        });
        </script>
    }
