@model GESTION_COLEGIAL.Business.Models.EmpleadoViewModel
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-wrapper-content ">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/Empleados/Index">Empleados</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Empleado</li>
        </ol>
    </nav>
</div>


@using (Html.BeginForm("Save", "Empleados", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="fluid-container">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <h3>Registro de Empleados</h3>
                    </div>
                    @* Columna Es Activo *@
                    @if (Model.EmpleadoId == 0)
                    {

                        <div class="col-3 d-flex justify-content-end">
                            <div class="custom-control custom-checkbox">
                                <label class="control-label" for="customCheck1">Estado</label>
                                @Html.EditorFor(model => model.EsActivoPersona, new { htmlAttributes = new { @class = "" } })
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.EmpleadoId)
                @Html.HiddenFor(model => model.PersonaId)
                <div class="form-row">
                    @* Columna Código *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CodigoEmpleado, "Código", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CodigoEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CodigoEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Título *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TituloId, "Título", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("TituloId", Model.titulosList, "-- Seleccionar Título --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TituloId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Cargo *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CargoId, "Cargo", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("CargoId", Model.cargosList, "-- Seleccionar Cargo --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CargoId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Identidad *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NumeroIdentidad, "Identidad", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NumeroIdentidad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumeroIdentidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Primer Nombre *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PrimerNombre, "Primer Nombre", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Segundo Nombre *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SegundoNombre, "Segundo Nombre", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Apellido Paterno *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApellidoPaterno, "Apellido Paterno", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Apellido Materno *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApellidoMaterno, "Apellido Materno", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Fecha Nacimiento *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaNacimiento, "Fecha Nacimiento", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Correo Electronico *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CorreoElectronico, "Correo Electronico", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Teléfono *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono, "Telefono", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Dirección *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Direccion, "Dirección", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Sexo *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sexo, "Sexo", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--Botones de accion en el formulario-->
                    <div class="form-group col-md-6">
                        <div class="float-right mt-4">
                            <div class="btn mr-2 btn-primary-outline">
                                @Html.ActionLink("Cancelar", "Index", "Empleados")
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Content/js/pages/empleados.js"></script>
    <script>
        Empleados.datatable({
            urlList: "@Url.Action("ListAsync")",
            urlInsert: "@Url.Action("CreateAsync")",
            urlUpdate: "@Url.Action("FindAsync")",
            urlDetail: "Detail"
        });
    </script>
}
