
@model GESTION_COLEGIAL.UI.Models.EmpleadoViewModel
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Save", "Empleados", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Empleados</h3>
            </div>

        </div>
    </div>
    <div class="card-body">
        @Html.HiddenFor(model => model.Emp_Id)
        <div class="form-row">
            @* Columna Código *@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Emp_Codigo, "Emp_Codigo", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Emp_Codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Emp_Codigo, "", new { @class = "text-danger" })
                </div>
            </div>
            @* Columna Persona *@
            <!--<div class="col-md-6">
                <div class="form-group">-->
                    @*@Html.LabelFor(model => model.Per_Id, "Per_Id", htmlAttributes: new { @class = "control-label" })*@
                    @*@Html.DropDownList("Per_Id", null, htmlAttributes: new { @class = "form-control" })*@
                    @*@Html.ValidationMessageFor(model => model.Per_Id, "", new { @class = "text-danger" })*@
                <!--</div>
            </div>-->
        </div>
        <div class="form-row">
            @* Columna Título *@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Tit_Id, "Tit_Id", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Tit_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Tit_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            @* Columna Cargo *@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Car_Id, "Car_Id", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("Car_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Car_Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            @*/ Columna Identidad /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Identidad, "Per_Identidad", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_Identidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_Identidad, "", new { @class = "text-danger" })
                </div>
            </div>
            @*/ Columna Primer Nombre /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_PrimerNombre, "Per_PrimerNombre", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_PrimerNombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            @*/ Columna Segundo Nombre /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_SegundoNombre, "Per_SegundoNombre", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_SegundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_SegundoNombre, "", new { @class = "text-danger" })
                </div>
            </div>
            @*/ Columna Apellido Paterno /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_ApellidoPaterno, "Per_ApellidoPaterno", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_ApellidoPaterno, "", new { @class = "text-danger" })
                </div>
            </div>
            @*/ Columna Apellido Materno /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_ApellidoMaterno, "Per_ApellidoMaterno", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_ApellidoMaterno, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            @*/ Columna Fecha Nacimiento /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_FechaNacimiento, "Per_FechaNacimiento", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>
            @*/ Columna Correo Electronico /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_CorreoElectronico, "Per_CorreoElectronico", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_CorreoElectronico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            @*/ Columna Teléfono /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Telefono, "Per_Telefono", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_Telefono, "", new { @class = "text-danger" })
                </div>
            </div>
            @*/ Columna Dirección /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Direccion, "Per_Direccion", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_Direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            @*/ Columna Sexo /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Sexo, "Per_Sexo", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_Sexo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_Sexo, "", new { @class = "text-danger" })
                </div>
            </div>
            @*/ Columna Es Activo /*@
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Per_EsActivo, "Per_EsActivo", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Per_EsActivo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Per_EsActivo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
    </div>
}
