
@model GESTION_COLEGIAL.UI.Models.NotaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Notas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Notas</h3>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.Not_Id)
                @* Columna Nota *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Not_Nota, "Not_Nota", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Not_Nota, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Not_Nota, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Materia *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mat_Id, "Mat_Id", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("Mat_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mat_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Semestre *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sem_Id, "Sem_Id", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("Sem_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sem_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Parcial *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pac_Id, "Pac_Id", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("Pac_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pac_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Año *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Not_Año, "Not_Año", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Not_Año, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Not_Año, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* Columna Es activo *@
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Not_EsActivo, "EsActivo", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Not_EsActivo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Not_EsActivo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
            </div>
        </div>
    </div>
}

