@model GESTION_COLEGIAL.Business.Models.CursoViewModel
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-wrapper-content ">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/Cursos/Index">Cursos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Curso</li>
        </ol>
    </nav>
</div>


<div class="fluid-container">
    @using (Html.BeginForm("Save", "Cursos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12 col-lg-9">
                        <h3>Registro de Cursos</h3>
                    </div>
                    @* Columna Es Activo *@
                    <div class="col-3 d-flex justify-content-end">
                        <div class="custom-control custom-checkbox">
                            <label class="control-label" for="customCheck1">Estado</label>
                            @Html.EditorFor(model => model.EsActivoCurso, new { htmlAttributes = new { @class = "" } })
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.CursoId)
                <div class="row">
                    <div class="col-md-12 col-lg-7">
                        <div class="card p-4">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12 mb-3">
                                <h4>Opciones</h4>
                            </div>

                            <div id="toggleAccordion">
                                <div class="card cursor-pointer">
                                    <div class="card-header">
                                        <section class="mb-0 mt-0">
                                            <div role="menu" class="collapsed" data-toggle="collapse" data-target="#defaultAccordionOne" aria-expanded="true" aria-controls="defaultAccordionOne">
                                                Materias
                                            </div>
                                        </section>
                                    </div>

                                    <div id="defaultAccordionOne" class="collapse show" aria-labelledby="..." data-parent="#toggleAccordion">
                                        <div class="table-responsive">
                                            <!-- Columna MateriasCheckList -->
                                            <div class="d-flex flex-wrap mb-3 ">
                                                @for (int i = 0; i < Model.MateriasCheckList.Count; i++)
                                                {
                                                    <div class="badge outline-badge-primary px-1 m-2" style="cursor: pointer;">
                                                        <div class="n-chk">
                                                            <label class="m-0 new-control new-checkbox checkbox-warning">
                                                                @Html.CheckBoxFor(model => model.MateriasCheckList[i].Selected,
                                                                    new { @class = "new-control-input", id = "materia-" + i })
                                                                <span class="new-control-indicator"></span>
                                                                <span class="form-check-label text-primary m-0" style="cursor: pointer;">
                                                                    @Html.DisplayFor(model => model.MateriasCheckList[i].Text)
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    @Html.HiddenFor(model => model.MateriasCheckList[i].Text)
                                                    @Html.HiddenFor(model => model.MateriasCheckList[i].Value)

                                                }
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="card cursor-pointer">
                                    <div class="card-header">
                                        <section class="mb-0 mt-0">
                                            <div role="menu" class="collapsed" data-toggle="collapse" data-target="#defaultAccordionTwo" aria-expanded="true" aria-controls="defaultAccordionOne">
                                                Secciones
                                            </div>
                                        </section>
                                    </div>

                                    <div id="defaultAccordionTwo" class="collapse" aria-labelledby="..." data-parent="#toggleAccordion">
                                        <div class="table-responsive">

                                            @* Columna SeccionesCheckList *@
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @* Itera y muestra ckebox con la respectiva descripción *@
                                                    @for (int i = 0; i < Model.SeccionesCheckList.Count; i++)
                                                    {
                                                        <ul class="list-group task-list-group">
                                                            <li class="list-group-item border-0  list-group-item border-0 -action">
                                                                <div class="n-chk">
                                                                    <label class="new-control new-checkbox checkbox-primary w-100 justify-content-between">
                                                                        @Html.CheckBoxFor(model => model.SeccionesCheckList[i].Selected)
                                                                        <span class="new-control-indicator"></span>
                                                                        <span class="ml-2">
                                                                            @Html.DisplayFor(model => model.SeccionesCheckList[i].Text)
                                                                            @* Columna Nivel *@
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.NivelId, "Nivel", htmlAttributes: new { @class = "control-label" })
                                                                                    @Html.DropDownList("NivelId", Model.NivelEducativoList, "-- Seleccionar Nivel --", htmlAttributes: new { @class = "form-control", @id = "NivelId" })
                                                                                    @Html.ValidationMessageFor(model => model.NivelId, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        @Html.HiddenFor(model => model.SeccionesCheckList[i].Text)
                                                        @Html.HiddenFor(model => model.SeccionesCheckList[i].Value)
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card cursor-pointer">
                                    <div class="card-header">
                                        <section class="mb-0 mt-0">
                                            <div role="menu" class="collapsed" data-toggle="collapse" data-target="#defaultAccordionThree" aria-expanded="true" aria-controls="defaultAccordionOne">
                                                Modalidades
                                            </div>
                                        </section>
                                    </div>

                                    <div id="defaultAccordionThree" class="collapse" aria-labelledby="..." data-parent="#toggleAccordion">
                                        <div class="table-responsive">
                                            <!-- Columna ModalidadesCheckList -->
                                            <div class="d-flex flex-wrap mb-3">
                                                @for (int i = 0; i < Model.ModalidadesCheckList.Count; i++)
                                                {
                                                    <div class="badge outline-badge-primary px-1 m-2" style="cursor: pointer;">
                                                        <div class="n-chk">
                                                            <label class="m-0 new-control new-checkbox checkbox-warning">
                                                                @Html.CheckBoxFor(model => model.ModalidadesCheckList[i].Selected,
                                                                     new { @class = "new-control-input", id = "modalidad-" + i })
                                                                <span class="new-control-indicator"></span>
                                                                <span class="form-check-label text-primary m-0" style="cursor: pointer;">
                                                                    @Html.DisplayFor(model => model.ModalidadesCheckList[i].Text)
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    @Html.HiddenFor(model => model.ModalidadesCheckList[i].Text)
                                                    @Html.HiddenFor(model => model.ModalidadesCheckList[i].Value)
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card cursor-pointer">
                                    <div class="card-header">
                                        <section class="mb-0 mt-0">
                                            <div role="menu" class="collapsed" data-toggle="collapse" data-target="#defaultAccordionFour" aria-expanded="true" aria-controls="defaultAccordionOne">
                                                Niveles
                                            </div>
                                        </section>
                                    </div>

                                    <div id="defaultAccordionFour" class="collapse" aria-labelledby="..." data-parent="#toggleAccordion">
                                        <div class="card-body">

                                            @* Columna CursoNivel *@
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @* Itera y muestra ckebox con la respectiva descripción *@
                                                    @for (int i = 0; i < Model.CursoNivelesCheckList.Count; i++)
                                                    {
                                                        <div class="badge outline-badge-primary px-1 m-2" style="cursor: pointer;">
                                                            <div class="n-chk">
                                                                <label class="m-0 new-control new-checkbox checkbox-warning">
                                                                    @Html.CheckBoxFor(model => model.CursoNivelesCheckList[i].Selected,
                                                                         new { @class = "new-control-input", id = "curso-nivel-" + i })
                                                                    <span class="new-control-indicator"></span>
                                                                    <span class="form-check-label text-primary m-0" style="cursor: pointer;">
                                                                        @Html.DisplayFor(model => model.CursoNivelesCheckList[i].Text)
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        @Html.HiddenFor(model => model.CursoNivelesCheckList[i].Text)
                                                        @Html.HiddenFor(model => model.CursoNivelesCheckList[i].Value)
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                    @* Columna Nivel *@
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NivelId, "Nivel", htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("NivelId", Model.NivelEducativoList, "-- Seleccionar Nivel --", htmlAttributes: new { @class = "form-control", @id = "NivelId" })
                                            @Html.ValidationMessageFor(model => model.NivelId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @* Columna Curso nombre *@
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NombreCurso, "Curso nombre", htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.NombreCurso, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NombreCurso, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col ">
                                    <button type="submit" class="btn btn-primary float-right m-1"><i class="mdi mdi-content-save"></i> Guardar</button>
                                    @Html.ActionLink("Cancelar", "Index", "Cursos", null, new { @class = "btn btn-primary-outline float-right m-1" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
