
@model GESTION_COLEGIAL.UI.Models.CursoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Cursos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h3>Registro de Cursos</h3>
            </div>

            <div class="card-body">
                @Html.HiddenFor(model => model.Cur_Id)
                <div class="form-row">
                    @* Columna Curso nivel *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cno_Id, "Cno_Id", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Cno_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Cno_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Aula *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Aul_Id, "Aul_Id", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Aul_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Aul_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Sección *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sec_Id, "Sec_Id", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Sec_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sec_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Nivel *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Niv_Id, "Niv_Id", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Niv_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Niv_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @* Columna Modalidad *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mda_Id, "Mda_Id", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Mda_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mda_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @* Columna Es activo *@
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cur_EsActivo, "Cur_EsActivo", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Cur_EsActivo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cur_EsActivo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
            </div>
        </div>
    </div>
}
