<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi aplicación ASP.NET</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- App css -->


    <link href="~/Content/plugins/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/icons.css" rel="stylesheet" />
    <link href="~/Content/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/scss/app.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @* toastr *@
    <link href="~/Content/plugins/toastr/toastr.css" rel="stylesheet" />

</head>
<body>

    @Html.Partial("~/Views/Shared/_sidebar.cshtml");
    <div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content-tab">
            @RenderBody()
        </div>

        @*<x-extra-modal />
            <x-footer />*@
        <footer class="footer text-center text-sm-left">
            &copy; @DateTime.Now.Year - Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>
        </footer>

    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!-- jQuery  -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/plugins/bootstrap-4.5.3-dist/js/bootstrap.bundle.js"></script>

    <script src="~/Content/js/waves.js"></script>
    <script src="~/Content/js/feather.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/plugins/apexcharts/apexcharts.min.js"></script>
    @* toastr *@
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/js/components/alert.js"></script>
    @*<script src="~/Content/js/main.js"></script>*@

    <script src="~/Content/js/app.js"></script>

    <script src="~/Content/js/components/navbar.js"></script>

    <!-- Required datatable js -->
    <script src="~/Content/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="~/Content/plugins/datatables/jszip.min.js"></script>
    @*<script src="~/Content/plugins/jszip/jszip.min.js"></script>*@
    <script src="~/Content/plugins/datatables/pdfmake.min.js"></script>
    @*<script src="~/Content/plugins/pdfmake/build/pdfmake.min.js"></script>*@
    <script src="~/Content/plugins/datatables/vfs_fonts.js"></script>
    @*<script src="~/Content/plugins/pdfmake/build/vfs_fonts.js"></script>*@
    <script src="~/Content/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Content/js/components/datatable.init.js"></script>

    @*<script src="~/Content/js/components/datatable.init.js"></script>*@


    <!-- App js -->
    @RenderSection("Scripts", required: false)
</body>
</html>
