<div class="overlay"></div>
<div class="search-overlay"></div>

<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <ul class="list-unstyled menu-categories ps ps--active-y" id="accordionExample">

            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>USER INTERFACE</span></div>
            </li>

            <li class="menu">
                <div class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-house"></i>
                        @Html.ActionLink("Home", "", "Home")
                    </div>
                </div>
            </li>

            <li class="menu">
                <a href="#Personas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-user"></i>
                        <span>Personas</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Personas" data-parent="#accordionExample">
                    <li>@Html.ActionLink("Alumno", "Index", "Alumnos")</li>
                    <li>@Html.ActionLink("Encargados", "Index", "Encargados")</li>
                    <li>@Html.ActionLink("Empleados", "Index", "Empleados")</li>
                    <li>@Html.ActionLink("Parentescos", "Index", "Parentescos")</li>
                    <li>@Html.ActionLink("Cargos", "Index", "Cargos")</li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Horario" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-hourglass-end"></i>
                        <span>Horario</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Horario" data-parent="#accordionExample">
                    @*<li>@Html.ActionLink("Horario Alumno", "Index", "Horario Alumno")</li>
                        <li>@Html.ActionLink("Horario Profesor", "Index", "Horario Profesor")</li>*@
                    <li>@Html.ActionLink("Horas", "Index", "Horas")</li>
                    <li>@Html.ActionLink("Dia", "Index", "Dias")</li>
                </ul>
            </li>

            <li class="menu">
                <a href="#Cursos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-book"></i>
                        <span>Cursos</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="Cursos" data-parent="#accordionExample">
                    <li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                    <li>@Html.ActionLink("Cursos Niveles", "Index", "CursosNiveles")</li>
                    <li>@Html.ActionLink("Duraciones", "Index", "Duraciones")</li>
                    <li>@Html.ActionLink("Materias", "Index", "Materias")</li>
                    <li>@Html.ActionLink("Modalidades", "Index", "Modalidades")</li>
                    <li>@Html.ActionLink("Niveles Educativos", "Index", "NivelesEducativos")</li>
                    <li>@Html.ActionLink("Parciales", "Index", "Parciales")</li>
                    <li>@Html.ActionLink("Secciones", "Index", "Secciones")</li>
                    <li>@Html.ActionLink("Semestres", "Index", "Semestres")</li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!--  END SIDEBAR  -->